<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/utils.js}"></script>
    <script defer th:src="@{/javascript/admin.js}"></script>

</head>
<body>
<div th:insert="fragments::navigation"></div>
<h2>Trainings</h2>
<button onclick="location.href='/training/modify'">Add training</button>
<br>
<h2>Schedules</h2>
<button onclick="location.href='/schedule'">Add schedule</button>
<br>
<h2>Halls</h2>
<button onclick="location.href='/hall'">Add hall</button>
<br>
<br>
<input type="text" placeholder="hall tag" id="hallTag">
<button onclick="filterHalls()">Search</button>
<br>
<br>
<table id="hallTable">
    <tr>
        <th onclick="sortTable(1, 'hallTable')">Hall tag</th>
        <th onclick="sortTable(2, 'hallTable')">Capacity</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="hall:${halls}">
        <td th:text="${hall.hallTag}"></td>
        <td th:text="${hall.capacity}"></td>
        <td><button th:onclick="updateH([[${hall.id}]])">Update</button></td>
        <td><button th:onclick="deleteH([[${hall.id}]])">Delete</button></td>
    </tr>
</table>
<br>
<h2>Users</h2>
<br>
<label for="username">Username:</label>
<input id="username">
<label for="role"></label>
<select id="role">
    <option value="">Any</option>
    <option value="MEMBER">Member</option>
    <option value="ADMIN">Admin</option>
</select>
<button onclick="filterUsers()">Search</button>
<br>
<table id="userTable">
    <tr>
        <th onclick="sortTable(0, 'userTable')">Username</th>
        <th onclick="sortTable(1, 'userTable')">Role</th>
        <th>Registration date</th>
        <th>Is blocked</th>
    </tr>
    <tr th:each="user:${users}">
        <td><a th:href="@{/profile/(id=${user.id})}" th:text="${user.username}"></a></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.regDateTime}"></td>
        <td th:text="${user.blocked}"></td>
    </tr>
</table>
<br>
<h2>Loyalty card requests</h2>
<br>
<table id="loyaltyCardRequestTable">
    <tr>
        <th onclick="sortTable(0, 'loyaltyCardRequestTable')">Username</th>
        <th>Actions</th>
    </tr>
    <tr th:each="request:${requests}">
        <td th:text="${request.username}"></td>
        <td>
            <button th:onclick="acceptC([[${request.id}]])">Accept</button>
            <button th:onclick="declineC([[${request.id}]])">Decline</button>
        </td>
    </tr>
</table>
<br>
<h2>Comments</h2>
<br>
<table>
    <tr>
        <th>Comment by</th>
        <th>Comment on</th>
        <th>Text</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Action</th>
    </tr>
    <tr th:each="item:${comments}" th:if="${item.status} == 'PENDING'">
        <td th:text="${item.anonymous} ? 'Anonymous' : ${item.username}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.text}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.rating}"></td>
        <td>
            <button th:onclick="acceptComment([[${item.id}]])">Accept</button>
            <button th:onclick="declineComment([[${item.id}]])">Decline</button>
        </td>
    </tr>
    </tr>
</table>
<br>
<h2>Report</h2>
<form action="#" th:action="@{/admin/report}" method="post" th:object="${reportData}">
    <label for="dateFrom">Date from:</label>
    <input type="date"  id="dateFrom" th:field="*{dateFrom}">
    <label for="dateTo">Date to:</label>
    <input type="date"  id="dateTo" th:field="*{dateTo}">
    <button type="submit">Search</button>
</form>
<br>
<table id="reportTable">
    <tr>
        <th>Name</th>
        <th>Trainers</th>
        <th onclick="sortTable(2, 'reportTable')">Num of reservations</th>
        <th onclick="sortTable(3, 'reportTable')">Sum of price</th>
    </tr>
    <tr th:each="item:${reports}">
        <td><a href="#" th:text="${item.trainingName}"></a></td>
        <td th:text="${item.trainers}"></td>
        <td th:text="${item.numOfRes}"></td>
        <td th:text="${item.priceSum}"></td>
    </tr>
    <tr id="exclude">
        <td></td>
        <td></td>
        <td>Number of reservations</td>
        <td>Full sum of price</td>
    </tr>
</table>
</body>
</html>