<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/utils.js}"></script>
    <script defer th:src="@{/javascript/hall.js}"></script>
    <script defer th:src="@{/javascript/admin.js}"></script>

</head>
<body>
<div th:insert="fragments::navigation"></div>
<h2>Trainings</h2>
<button onclick="location.href='/training/modify'">Add training</button>
<br>
<h2>Schedules</h2>
<button onclick="location.href='/schedule'">Add schedule</button>
<br>
<h2>Halls</h2>
<button onclick="location.href='/hall'">Add hall</button>
<br>
<br>
<input type="text" placeholder="hall tag" id="hallTag">
<button onclick="filterHalls()">Search</button>
<br>
<br>
<table id="hallTable">
    <tr>
        <th onclick="sortTable(1, 'hallTable')">Hall tag</th>
        <th onclick="sortTable(2, 'hallTable')">Capacity</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="hall:${halls}">
        <td th:text="${hall.hallTag}"></td>
        <td th:text="${hall.capacity}"></td>
        <td><button th:onclick="update([[${hall.id}]])">Update</button></td>
        <td><button th:onclick="deleteH([[${hall.id}]])">Delete</button></td>
    </tr>
</table>
<br>
<h2>Users</h2>
<br>
<label for="username">Username:</label>
<input id="username">
<label for="role"></label>
<select id="role">
    <option value="">Any</option>
    <option value="MEMBER">Member</option>
    <option value="ADMIN">Admin</option>
</select>
<button onclick="filterUsers()">Search</button>
<br>
<table id="userTable">
    <tr>
        <th onclick="sortTable(0, 'userTable')">Username</th>
        <th onclick="sortTable(1, 'userTable')">Role</th>
        <th>Registration date</th>
        <th>Is blocked</th>
    </tr>
    <tr th:each="user:${users}">
        <td><a th:href="@{/profile/(id=${user.id})}" th:text="${user.username}"></a></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.regDateTime}"></td>
        <td th:text="${user.blocked}"></td>
    </tr>
</table>
<br>
<h2>Loyalty card requests</h2>
<br>
<table id="loyaltyCardRequestTable">
    <tr>
        <th onclick="sortTable(0, 'loyaltyCardRequestTable')">Username</th>
        <th>Actions</th>
    </tr>
    <tr th:each="request:${requests}">
        <td th:text="${request.username}"></td>
        <td>
            <button th:onclick="accept([[${request.id}]])">Accept</button>
            <button th:onclick="decline([[${request.id}]])">Decline</button>
        </td>
    </tr>
</table>
</body>
</html>