<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1 th:fragment="title">Omega gym</h1>
  <nav th:fragment="navigation">
    <a href="/">home</a>
    <a href="/profile">profile</a>
    <div th:if="${session.user != null && session.user.role.name() == 'ADMIN'}" style="display: inline-block">
      <a href="/admin">admin</a>
    </div>
    <a href="/wishlist">wishlist</a>
    <a href="/cart">cart</a>
    <div th:if="${session.user == null}" style="display: inline-block">
      <a href="/login">login</a>
      <a href="/register">register</a>
    </div>
    <div th:if="${session.user != null}" style="display: inline-block">
      <a href="/logout">logout</a>
    </div>
  </nav>
</body>
</html>