<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Type of training</th>
        <th>Price</th>
        <th>Trainers</th>
        <th>Group</th>
        <th>Difficulty</th>
        <th>Rating</th>
    </tr>
    <tr th:each="training:${trainings}">
        <td><img th:src="@{images/default.jpg}"></td>
        <td><a th:href="@{/training/(id=${training.id})} " th:text="${training.name}"></a></td>
        <td th:text="${training.type}"></td>
        <td th:text="${training.price}"></td>
        <td th:text="${training.trainers}"></td>
        <td th:text="${training.group}"></td>
        <td th:text="${training.difficulty}"></td>
        <td th:text="${training.rating}"></td>
    </tr>
</table>
</body>
</html>