<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/index.js}"></script>
    <script defer th:src="@{/javascript/utils.js}"></script>
</head>
<body>
<div th:insert="fragments::navigation"></div>

<input type="text" placeholder="Name" id="name">
<input type="text" placeholder="Type" id="type">
<input type="number" placeholder="Min price" id="priceMin">
<input type="number" placeholder="Max price" id="priceMax">
<input type="text" placeholder="Trainer" id="trainer">
<label for="difficulty">Difficulty:</label>
<select id="difficulty">
    <option value="">Any</option>
    <option value="BEGINNER">Beginner</option>
    <option value="INTERMEDIATE">intermediate </option>
    <option value="ADVANCED">Advanced</option>
</select>
<label for="group">Group:</label>
<select id="group">
    <option value="">Any</option>
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>
<button onclick="filterTrainings()">Search</button>

<br>
<br>

<table id="trainingTable">
    <tr>
        <th>Image</th>
        <th onclick="sortTable(1, 'trainingTable')">Name</th>
        <th onclick="sortTable(2, 'trainingTable')">Type of training</th>
        <th onclick="sortTable(3, 'trainingTable')">Price</th>
        <th onclick="sortTable(4, 'trainingTable')">Trainers</th>
        <th onclick="sortTable(5, 'trainingTable')">Group</th>
        <th onclick="sortTable(6, 'trainingTable')">Difficulty</th>
        <th onclick="sortTable(7, 'trainingTable')">Rating</th>
    </tr>
    <tr th:each="training:${trainings}">
        <td><img th:src="${training.pic}"></td>
        <td><a th:href="@{/training/(id=${training.id})} " th:text="${training.name}"></a></td>
        <td th:text="${training.type}"></td>
        <td th:text="${training.price}"></td>
        <td th:text="${training.trainers}"></td>
        <td th:text="${training.group}"></td>
        <td th:text="${training.difficulty}"></td>
        <td th:text="${training.rating}"></td>
    </tr>
</table>
</body>
</html>