<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div th:insert="fragments::navigation"></div>
    <br>
    <form action="#" th:action="@{/login}" method="post" th:object="${data}">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <button type="submit">Login</button>
        <p>Dont have account? <a href="/register">Register</a></p>
    </form>
</body>
</html>