<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add training</title>
</head>
<body>
<div th:insert="fragments::navigation"></div>
<br>
<form action="#" th:action="@{/training/modify}" method="post" th:object="${data}">
    <label for="name" >Name:</label>
    <br>
    <input type="text" id="name" th:field="*{name}">
    <br>
    <label for="trainers">Trainers:</label>
    <br>
    <input type="text" id="trainers" th:field="*{trainers}">
    <br>
    <label for="description">Description:</label>
    <br>
    <input type="text" id="description" th:field="*{description}">
    <br>
    <label for="pic">Picture:</label>
    <br>
    <input type="text" id="pic" th:field="*{pic}">
    <br>
    <label for="price">Price:</label>
    <br>
    <input type="number" id="price" min="100" max="1000" step="50" th:field="*{price}">
    <br>
    <label for="group">Group:</label>
    <br>
    <select id="group" th:field="*{group}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br>
    <label for="difficulty">Difficulty;:</label>
    <br>
    <select id="difficulty" th:field="*{difficulty}">
        <option value="BEGINNER">Beginner</option>
        <option value="INTERMEDIATE">Intermediate</option>
        <option value="ADVANCED">Advanced</option>
    </select>
    <br>
    <label for="duration">Duration:</label>
    <br>
    <input type="number" min="10" max="180" step="5" id="duration" value="30" th:field="*{duration}">
    <br>
    <label for="types">Types:</label>
    <br>
    <div id="types" style="overflow: scroll; max-height: 200px; width: fit-content;">
        <div th:each="type:${types}">
            <input th:value="${type.id}" th:field="*{types}" type="checkbox" th:id="'type:' + ${type.id}" th:checked="${data != null && data.types.contains(type.name)}" name="type">
            <label th:for="'type:' + ${type.id}" th:text="${type.name}"></label>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>