<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add training</title>
</head>
<body>
<div th:insert="fragments::navigation"></div>
<br>
<form action="#" th:action="@{/training/modify}" method="post" th:object="${data}">
    <label for="name" th:text="#{name} + ':'">Name:</label>
    <br>
    <input type="text" id="name" th:field="*{name}">
    <br>
    <label for="trainers" th:text="#{trainers} + ':'">Trainers:</label>
    <br>
    <input type="text" id="trainers" th:field="*{trainers}">
    <br>
    <label for="description" th:text="#{description} + ':'">Description:</label>
    <br>
    <input type="text" id="description" th:field="*{description}">
    <br>
    <label for="pic" th:text="#{image} + ':'">Picture:</label>
    <br>
    <input type="text" id="pic" th:field="*{pic}" th:required="required">
    <br>
    <label for="price" th:text="#{price} + ':'">Price:</label>
    <br>
    <input type="number" id="price" min="100" max="1000" step="50" th:field="*{price}">
    <br>
    <label for="group" th:text="#{group} + ':'">Group:</label>
    <br>
    <select id="group" th:field="*{group}">
        <option value="true" th:text="#{yes}">Yes</option>
        <option value="false" th:text="#{no}">No</option>
    </select>
    <br>
    <label for="difficulty" th:text="#{difficulty} + ':'">Difficulty;:</label>
    <br>
    <select id="difficulty" th:field="*{difficulty}">
        <option value="BEGINNER" th:text="#{beginner}">Beginner</option>
        <option value="INTERMEDIATE" th:text="#{intermediate}">Intermediate</option>
        <option value="ADVANCED" th:text="#{advanced}">Advanced</option>
    </select>
    <br>
    <label for="duration" th:text="#{duration} + ':'">Duration:</label>
    <br>
    <input type="number" min="10" max="180" step="5" id="duration" value="30" th:field="*{duration}">
    <br>
    <label for="types" th:text="#{types} + ':'">Types:</label>
    <br>
    <div id="types" style="overflow: scroll; max-height: 200px; width: fit-content;">
        <div th:each="type:${types}">
            <input th:value="${type.id}" th:field="*{types}" type="checkbox" th:id="'type:' + ${type.id}" th:checked="${data != null && data.types.contains(type.name)}" name="type">
            <label th:for="'type:' + ${type.id}" th:text="${type.name}"></label>
        </div>
    </div>
    <button type="submit" th:text="#{submitEdit}">Submit</button>
</form>
</body>
</html>