<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer th:src="@{/javascript/profile.js}"></script>
</head>
<body>
<div th:insert="fragments::title"></div>
<div th:insert="fragments::navigation"></div>
<br>

<label for="username" style="font-weight: bold">Username:</label>
<p id="username" th:text="${data.username}"></p>
<label for="email" style="font-weight: bold">Username:</label>
<p id="email" th:text="${data.email}"></p>
<label for="name" style="font-weight: bold">Name:</label>
<p id="Name" th:text="${data.name}"></p>
<label for="lastname" style="font-weight: bold">Lastname:</label>
<p id="lastname" th:text="${data.lastname}"></p>
<label for="dateOfBirth" style="font-weight: bold">Date of birth:</label>
<p id="dateOfBirth" th:text="${#temporals.format(data.dateOfBirth, 'dd-MM-yyyy')}"></p>
<label for="address" style="font-weight: bold">Address:</label>
<p id="address" th:text="${data.address}"></p>
<label for="phoneNum" style="font-weight: bold">Phone num:</label>
<p id="phoneNum" th:text="${data.phoneNum}"></p>
<label for="regDate" style="font-weight: bold">Registration date:</label>
<p id="regDate" th:text="${#temporals.format(data.regDateTime, 'dd-MM-yyyy')}"></p>
<label for="role" style="font-weight: bold">Role:</label>
<p id="role" th:text="${data.role}"></p>
<label for="isBlocked" style="font-weight: bold">Is blocked:</label>
<p id="isBlocked" th:text="${data.isBlocked}"></p>
<div th:if="${session.user != null && session.user.role.name() == 'ADMIN' && session.user.id != data.id && data.role.name() != 'ADMIN'}">
    <button th:onclick="'makeAdmin(' + ${data.id} + ')'">Make admin</button>
    <button th:onclick="'block(' + ${data.id} + ')'" th:text="${data.isBlocked == true ? 'Unblock' : 'Block'}">Block/unblock</button>
</div>
<div th:if="${session.user != null && data.id == session.user.id}">
    <button th:onclick="'location.href=' + '\'/profile/edit?id=' + ${data.id} + '\''">Edit profile</button>
    <button th:onclick="'createLoyaltyCardRequest('+ ${data.id} + ')'">Request loyalty card</button>
</div>
</body>
</html>