<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{reservation}">Reservation</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/reservation.js}"></script>
</head>
<body>
<div th:insert="fragments::navigation"></div>
<h2 th:text="#{resSchedule}">Reserved schedules</h2>
<table>
    <tr>
        <th th:text="#{name}">Training name</th>
        <th th:text="#{hallTag}">Hall</th>
        <th th:text="#{dateTime}">Date and time</th>
        <th th:text="#{action}">Action</th>
    </tr>
    <tr th:each="item:${schedule}">
        <td th:text="${item.trainingName}"></td>
        <td th:text="${item.hallTag}"></td>
        <td th:text="${item.date}"></td>
        <td><button th:onclick="removeFromReservation([[${item.id}]], [[${reservation.id}]])" th:text="#{cancelRes}">Cancel reservation</button></td>
    </tr>
</table>
</body>
</html>