<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/cart.js}"></script>

</head>
<body>
    <div th:insert="fragments::title"></div>
    <div th:insert="fragments::navigation"></div>
    <br>
    <table id="cartTable">
        <tr>
            <th>Name</th>
            <th>Trainer</th>
            <th>Type</th>
            <th>Date and time</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="item:${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.trainers}"></td>
            <td th:text="${item.types}"></td>
            <td th:text="${item.date}"></td>
            <td th:text="${item.price}"></td>
            <td><button th:onclick="removeFromCart([[${item.id}]])">Remove</button></td>
        </tr>
    </table>
    <form action="#" th:action="@{/cart}" method="post" th:object="${data}">
        <p>Full price:<span id="fullPrice"></span></p>
        <label for="points">Use points:</label>
        <input type="number" min="0", max="5" id="points" th:onchange="calcActualPrice()" th:field="*{pointsUsed}" th:disabled="${specialDate != null}">
        <p th:if="${specialDate != null}" th:text="${specialDate.name} + ' discount'"></p><span th:if="${specialDate != null}" id="specialDiscount" th:text="${specialDate.discount} + '%'"></span>
        <p>Price with discount (if applicable):<span id="actualPrice"></span></p>
        <button th:disabled="${session.user == null}" type="submit">Submit</button>
    </form>
</body>
</html>