<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/cart.js}"></script>

</head>
<body>
    <div th:insert="fragments::title"></div>
    <div th:insert="fragments::navigation"></div>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Trainer</th>
            <th>Type</th>
            <th>Date and time</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="item:${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.trainers}"></td>
            <td th:text="${item.types}"></td>
            <td th:text="${item.date}"></td>
            <td th:text="${item.price}"></td>
            <td><button th:onclick="removeFromCart([[${item.id}]])">Remove</button></td>
        </tr>
    </table>
    <p>Full price:</p>
<button>Submit</button>
</body>
</html>