<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <script defer th:src="@{/javascript/training.js}"></script>
</head>
<body>
<div th:insert="fragments::navigation"></div>

<p><img th:src="@{/images/default.jpg}"></p>
<label for="name" style="font-weight: bold">Name:</label>
<p id="name" th:text="${data.name}"></p>
<label for="types" style="font-weight: bold">Types:</label>
<p id="types" th:text="${data.types}"></p>
<label for="price" style="font-weight: bold">Price:</label>
<p id="price" th:text="${data.price}"></p>
<label for="trainers" style="font-weight: bold">Trainers:</label>
<p id="trainers" th:text="${data.trainers}"></p>
<label for="description" style="font-weight: bold">Description:</label>
<p id="description" th:text="${data.description}"></p>
<label for="group" style="font-weight: bold">Group:</label>
<p id="group" th:text="${data.group}"></p>
<label for="difficulty" style="font-weight: bold">Difficulty:</label>
<p id="difficulty" th:text="${data.difficulty}"></p>
<label for="duration" style="font-weight: bold">Duration:</label>
<p id="duration" th:text="${data.duration}"></p>
<label for="rating" style="font-weight: bold">Rating:</label>
<p id="rating" th:text="${data.rating}"></p>
<div th:if="${session.user != null}" style="display: inline-block">
    <button th:onclick="addToWishlist([[${session.user.id}]],[[${data.id}]])">Add to wishlist</button>
</div>
<div th:if="${session.user != null && session.user.role.name() == 'ADMIN'}" style="display: inline-block">
    <button th:onclick="editTraining([[${data.id}]])">Edit training</button>
</div>

<h2>Schedule:</h2>
<table>
    <tr>
        <th>Hall tag</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr th:each="item:${schedule}">
        <td th:text="${item.hallTag}"></td>
        <td th:text="${item.date}"></td>
        <td><button th:onclick="addToCart([[${item.id}]])">Add to cart</button></td>
    </tr>
</table>

<h2>Comments:</h2>
<div th:if="${session.user != null}" style="display: inline-block">
    <button>Add comment</button>
</div>
<table>
    <tr>
        <th>Comment by</th>
        <th>Text</th>
        <th>Date</th>
        <th>Rating</th>
    </tr>
    <tr th:each="item:${comments}" th:if="${item.status} == 'ACCEPTED'">
        <td th:text="${item.anonymous} ? 'Anonymous' : ${item.username}"></td>
        <td th:text="${item.text}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.rating}"></td>
    </tr>
</table>
</body>
</html>