<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer th:src="@{/javascript/training.js}"></script>
</head>
<body>
<nav>
    <a href="/">home</a>
    <a href="/profile">profile</a>
    <a href="/admin">admin</a>
    <a href="/wishlist">wishlist</a>
    <a href="/cart">cart</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
</nav>

<p><img th:src="@{/images/default.jpg}"></p>
<p th:text="${data.name}"></p>
<p th:text="${data.type}"></p>
<p th:text="${data.price}"></p>
<p th:text="${data.trainers}"></p>
<p th:text="${data.description}"></p>
<p th:text="${data.group}"></p>
<p th:text="${data.difficulty}"></p>
<p th:text="${data.duration}"></p>
<p th:text="${data.rating}"></p>
<button th:onclick="addToWishlist([[${data.id}]])">Add to wishlist</button>

<h2>Schedule:</h2>
<table>
    <tr>
        <th>Hall tag</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr th:each="item:${schedule}">
        <td th:text="${item.hallTag}"></td>
        <td th:text="${item.date}"></td>
        <td><button th:onclick="addToCart([[${item.id}]])">Add to cart</button></td>
    </tr>
</table>

<h2>Comments:</h2>
<button>Add comment</button>
<table>
    <tr>
        <th>Comment by</th>
        <th>Text</th>
        <th>Date</th>
        <th>Rating</th>
    </tr>
    <tr th:each="item:${comments}" th:if="${item.status} == 'ACCEPTED'">
        <td th:text="${item.anonymous} ? 'Anonymous' : ${item.username}"></td>
        <td th:text="${item.text}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.rating}"></td>
    </tr>
</table>
</body>
</html>